html{
    font-size: 20px;
}

body {
  font-family: Arial, sans-serif;
}

/*------- Menú -------*/

.menu-container{
    border: solid 1px black;
    background-color: grey;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu-principal {
    
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
    padding: 0px;
}

.menu-principal a{
    border: solid 1px black;
    text-decoration: none;
    color: black;
    padding: 10px;  
    width: 120px;     
}

.menu-principal a:hover {
    text-decoration: underline;
}

.link{
    padding: 5px;
}

/*------- Capçalera -------*/
.main-image {
    border: solid 1px black;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.titol-container{
    border: solid 1px black;
    width: auto;
    height: auto;
    margin-left: 50px;
}

.titol-container > p:first-child {
    font-size: 30px;
}

/*------- Sobre Nosaltres -------*/
.nosaltres-container{
    border: solid 1px black;
    width: 80%;
    padding: 20px;
    margin: auto;
    margin-top: 70px;
}

.nosaltres-contain-1,
.nosaltres-contain-2 {
    display: flex;
    align-items: center;
    gap: 30px;             
    margin-bottom: 40px;
}

.nosaltres-contain img {
    width: 30%;
    border-radius: 20px;
}

.nosaltres-contain p{
    width: 70%;
}

/*------- Carta -------*/
.carta-container{
    border: solid 1px black;
    width: 80%;
    padding: 20px;
    margin: auto;
    margin-top: 70px;
}

.carta-contain .el:nth-child(1){
    grid-area: ele1
}

.carta-contain .el:nth-child(2){
    grid-area: ele2
}

.carta-contain .el:nth-child(3){
    grid-area: ele3
}

.carta-contain .el:nth-child(4){
    grid-area: ele4
}

.carta-contain .el:nth-child(5){
    grid-area: ele5
}

.carta-contain .el:nth-child(6){
    grid-area: ele6
}

.carta-contain .el:nth-child(7){
    grid-area: ele7
}

.carta-contain .el:nth-child(8){
    grid-area: ele8
}

.carta-contain .el:nth-child(8){
    grid-area: ele9
}

.carta-contain .el{
    border: solid 1px black;
}

.carta-contain {
    display: grid;
    grid-template-columns:  10% 1fr 1fr;
    grid-template-areas:    "ele1 ele1 ele1"
                            "ele2 ele3 ele3"
                            "ele2 ele4 ele5"
                            "ele6 ele7 ele7"
                            "ele6 ele8 ele9";
    gap: 15px;
}

/*------- Galeria de fotos -------*/
.galeria-container{
    border: solid 1px black;
    width: 80%;
    padding: 20px;
    margin: auto;
    margin-top: 70px;
}

.galeria-contain-1, .galeria-contain-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px
}

.galeria-contain-1 img, .galeria-contain-2 img{
    display: block;
    width: 100%;
    height: auto;
}

.galeria-contain-2{
    margin-top: 20px;
}

.img-container {
  position: relative;
  width: 100%;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.img-container:hover .overlay {
  opacity: 1;
}

/*------- Formulari -------*/
.formulari-container{
    border: solid 1px black;
    width: 80%;
    padding: 20px;
    margin: auto;
    margin-top: 70px;
}

label {
  display: block;
}

input,
textarea {
  width: 50%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
}

textarea{
  height: 80px;
}

/*------- Botó Reservar -------*/
.reservar{
    background-color: rgb(19, 19, 147);
    color: white;
    border-radius: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 15px;
}

/*------- Footer -------*/
footer {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.contact-container {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    gap: 10px;
}

.logo-container {
    justify-content: end;
    margin-right: 20px;
}

.footer-generic a{
    border: solid 1px black;
    text-decoration: none;
    color: black;
    padding: 10px;  
    width: 11rem;     
}

.logo-container img {
    border-radius: 50%;
    width: 60px;
    height: auto;
}