/* Tamany base del text */
html{
    font-size: 20px;
}

/* Estil general del body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estructura general */
.nosaltres-container,
.carta-container,
.galeria-container,
.formulari-container {
    width: 80%;
    padding: 20px;
    margin: auto;
}

/*------- Menú -------*/

.menu-container{
    background-color: black;
    position: sticky;   /* Sempre visible */
    margin-bottom: 0;   /* Treiem els marges per sota */
    top: 0;             /* Anclatge a la part superior de la pàgina */
    z-index: 1;         /* Queda per sobre de tots els elements */
}

.menu-principal {
    text-align: center;     /* Centrem el text */
    list-style-type: none;  /* Treiem el subrallat que ve per defecte */
    display: flex;
    justify-content: end;   /* Alineació al final del contenidor */
    margin: 0;
    gap: 10px;              /* Espai entre elements */
}

.menu-principal li{
    width: auto;
}

.menu-principal a{
    display: block;         /* Ocupa l'espai disponible dins del <li> */
    text-align: center;
    border: solid 1px black;
    text-decoration: none;
    color:#fff;
    padding: 5px 10px;      /* verticla 'a dalt i a sota' (5px) i vertical 'esquerra i dreta' (10px) */
    font-size: 0.9rem;       
}

.menu-principal a:hover {       /* Accions que es realitze quan passem el ratolí per sobre de l'element */
    text-decoration: underline; /* Apareix subrallat */
}

.link{
    padding: 5px;
}

/*------- Capçalera -------*/
.main-image {
    width: 100%;
    height: 400px;
    position: relative; /* Per poder possar el text a sobre */
    margin-top: 0;
}

.main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ocupa tot el contenidor */
}

.titol-container{
    position: absolute; /* Ocupa l'espai disponible */
    top: 35%;   /* Posicionament horitzontal*/
    left: 5%;   /* Posicionament vertical */
    color: #fff;
}

.titol-container > p:first-child {  /* Primer fill directe */
    font-size: 1.5rem;
}

/*------- Sobre Nosaltres -------*/

.nosaltres-contain{
    display: flex;
    flex-direction: column; /* Posicionament horitzontal */
    gap: 35px;              /* Espai entre elements */
}

.nosaltres-contain img {
    width: 30%;
    border-radius: 20px;    /* Arrodonir cantonades */
    object-fit: cover;      /* Ocupa tot el contenidor */
}

.nosaltres-contain p{
    width: 70%;
}

.nosaltres-contain-1,
.nosaltres-contain-2 {
    display: flex;
    align-items: center;    /* Alineació vertical */
    gap: 30px;              /* Espai entre elements */
}

/*------- Carta -------*/

.carta-contain .el{
    display: flex;
    justify-content: center;    /* Ocupa tot el contenidor */
    align-items: center;        /* Alineació horitzontal */
    text-align: left;           /* Alineació del text a l'esquerra */
}

/* Selecció d'elements pel grid a partir del dels fills del contenidor */
.carta-contain .el:nth-child(1){
    grid-area: ele1;
}

.carta-contain .el:nth-child(2){
    grid-area: ele2;
}

.carta-contain .el:nth-child(3){
    grid-area: ele3;
}

.carta-contain .el:nth-child(4){
    grid-area: ele4;
}

.carta-contain .el:nth-child(5){
    grid-area: ele5;
}

.carta-contain .el:nth-child(6){
    grid-area: ele6;
}

.carta-contain .el:nth-child(7){
    grid-area: ele7;
}

.carta-contain .el:nth-child(8){
    grid-area: ele8;
}

.carta-contain .el:nth-child(9){
    grid-area: ele9;
}

/* Estructura del grid */
.carta-contain {
    display: grid;
    grid-template-columns:  10% 1fr 1fr;
    grid-template-areas:    "ele1 ele1 ele1"
                            "ele2 ele3 ele3"
                            "ele2 ele4 ele5"
                            "ele6 ele7 ele7"
                            "ele6 ele8 ele9";
    gap: 15px;
}

.carta-contain .el:nth-child(2),
.carta-contain .el:nth-child(6){
    background-color: rgb(226, 225, 225);
}

.carta-contain .num {
    position: relative;
}

.carta-contain img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.overlay-menu {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    opacity: 1;
}

/*------- Galeria de fotos -------*/

.galeria-contain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.galeria-contain img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.img-container {
    position: relative;
    width: 23%;
    min-width: 200px;
    padding: 0.25rem;
    border: solid 1px rgb(226, 223, 223);
    border-radius: 10px;
}

.img-container:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img-overlay{
    position: relative;
    width: 100%;
}

.img-overlay img {
    display: block;
    width: 100%;
    height: auto;
  
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: 0.5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.img-overlay:hover .overlay {
    opacity: 1;
}

/* Imatges que volem enfosquir */
.galeria-contain .img-container:nth-child(1) img, 
.galeria-contain .img-container:nth-child(4) img,
.galeria-contain .img-container:nth-child(5) img, 
.galeria-contain .img-container:nth-child(8) img{
    filter: brightness(60%);    /* Enfosquim l'imatge */
}

/*------- Formulari -------*/

.formulari{
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    padding: 0 30px;
    box-sizing: border-box;
    gap: 20px;
}

.fila{
    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    gap: 100px;
    box-sizing: border-box;
}

.columna{
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    box-sizing: border-box;
}

.columna-submit{
    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    justify-content: end;
    box-sizing: border-box;
}

label {
    display: block;
    padding-bottom: 0.5rem;
}

input,
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    height: 80px;
}

button[type="submit"]{
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #007BFF;
}

/*------- Botó Reservar -------*/
.reservar-btn{
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #007BFF;
    position: fixed;
    bottom: 80px;
    right: 30px;
}

/*------- Footer -------*/
footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-top: 20px;
}

.contact-container {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    gap: 10px;
}

.icon-text{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-container {
    justify-content: end;
    margin-right: 20px;
}

.footer-generic a{
    border: solid 1px black;
    text-decoration: none;
    color:#fff;
    padding: 10px;  
    width: 11rem;
    font-size: 0.9rem;     
}

.logo-container img {
    border-radius: 50%;
    width: 60px;
    height: auto;
}




